################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BotLoadTestProject/JsonExtractionRule/obj
/BotLoadTestProject/JsonExtractionRule/bin/Debug
/BotLoadTestProject/JsonExtractionRule/bin/Debug
/BotLoadTestProject/WebAndLoadTestProject1/bin/Debug
/BotLoadTestProject/.vs
/BotLoadTestProject/TestResults
/BotLoadTestProject/.vs
/BotLoadTestProject/WebAndLoadTestProject1/obj
/intelligence-LUIS/bin
/intelligence-LUIS/obj
/intelligence-LUIS/.vs
/Cortana-BotApp/Cortana-BotApp/bin/x86/Debug
/Cortana-BotApp/Cortana-BotApp/obj
/Cortana-BotApp/VoiceCommandService/bin/x86/Debug
/Cortana-BotApp/VoiceCommandService/obj/x86/Debug
/HelloWorldBot/HelloWorldBot/bin
/HelloWorldBot/HelloWorldBot/obj
